{:paths ["src/clj"]
 
 :deps {org.clojure/clojure {:mvn/version "1.10.0-alpha5"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        etaoin {:mvn/version "0.2.9"}}


 :aliases
 {:run
  {:main-opts ["-m" "brun.core"]}
  
  :uberjar
  {:extra-deps {pack/pack.alpha
                {:git/url "https://github.com/juxt/pack.alpha.git"
                 :sha "ddbbdbd4001c75647deddaad0f8bb7dc954fcb6f"}}
   
   :main-opts ["-m" "mach.pack.alpha.capsule" "release/brun.jar" "-m brun.core"]}}}
